h1 {
  color: #00FFFF;
 border: 1px solid green;
}

li {
  color: rgba(255, 100, 10, .4);
}

h4{
  background: rgb(255, 100, 100);
  color: rgb(100, 200, 1);

}

body{
  /* background: url(https://upload.wikimedia.org/wikipedia/en/3/3d/MountainAshFloor.jpg);
  background-repeat: no-repeat;
  background-size: cover; */

  background: pink;
}
